/* color schemes */
button {
  outline: none; }

input.button_mini,
input.button_small,
input.button,
input.button,
button.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled,
.btn.btn-default,
.btn-primary {
  display: inline-block;
  background: none;
  border: 1px solid #666666;
  text-transform: uppercase;
  color: #292929;
  padding: 9px 10px 8px;
  line-height: 1.5;
  height: auto;
  font-family: 'Open Sans';
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center; }
  input.button_mini.big,
  input.button_small.big,
  input.button.big,
  input.button.big,
  button.button.big,
  input.button_large.big,
  input.button_mini_disabled.big,
  input.button_small_disabled.big,
  input.button_disabled.big,
  input.button_large_disabled.big,
  input.exclusive_mini.big,
  input.exclusive_small.big,
  input.exclusive.big,
  input.exclusive_large.big,
  input.exclusive_mini_disabled.big,
  input.exclusive_small_disabled.big,
  input.exclusive_disabled.big,
  input.exclusive_large_disabled.big,
  a.button_mini.big,
  a.button_small.big,
  a.button.big,
  a.button_large.big,
  a.exclusive_mini.big,
  a.exclusive_small.big,
  a.exclusive.big,
  a.exclusive_large.big,
  span.button_mini.big,
  span.button_small.big,
  span.button.big,
  span.button_large.big,
  span.exclusive_mini.big,
  span.exclusive_small.big,
  span.exclusive.big,
  span.exclusive_large.big,
  span.exclusive_large_disabled.big,
  .btn.btn-default.big,
  .btn-primary.big {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px; }
  input.button_mini.right i,
  input.button_small.right i,
  input.button.right i,
  input.button.right i,
  button.button.right i,
  input.button_large.right i,
  input.button_mini_disabled.right i,
  input.button_small_disabled.right i,
  input.button_disabled.right i,
  input.button_large_disabled.right i,
  input.exclusive_mini.right i,
  input.exclusive_small.right i,
  input.exclusive.right i,
  input.exclusive_large.right i,
  input.exclusive_mini_disabled.right i,
  input.exclusive_small_disabled.right i,
  input.exclusive_disabled.right i,
  input.exclusive_large_disabled.right i,
  a.button_mini.right i,
  a.button_small.right i,
  a.button.right i,
  a.button_large.right i,
  a.exclusive_mini.right i,
  a.exclusive_small.right i,
  a.exclusive.right i,
  a.exclusive_large.right i,
  span.button_mini.right i,
  span.button_small.right i,
  span.button.right i,
  span.button_large.right i,
  span.exclusive_mini.right i,
  span.exclusive_small.right i,
  span.exclusive.right i,
  span.exclusive_large.right i,
  span.exclusive_large_disabled.right i,
  .btn.btn-default.right i,
  .btn-primary.right i {
    padding-left: 4px; }
  input.button_mini.left i,
  input.button_small.left i,
  input.button.left i,
  input.button.left i,
  button.button.left i,
  input.button_large.left i,
  input.button_mini_disabled.left i,
  input.button_small_disabled.left i,
  input.button_disabled.left i,
  input.button_large_disabled.left i,
  input.exclusive_mini.left i,
  input.exclusive_small.left i,
  input.exclusive.left i,
  input.exclusive_large.left i,
  input.exclusive_mini_disabled.left i,
  input.exclusive_small_disabled.left i,
  input.exclusive_disabled.left i,
  input.exclusive_large_disabled.left i,
  a.button_mini.left i,
  a.button_small.left i,
  a.button.left i,
  a.button_large.left i,
  a.exclusive_mini.left i,
  a.exclusive_small.left i,
  a.exclusive.left i,
  a.exclusive_large.left i,
  span.button_mini.left i,
  span.button_small.left i,
  span.button.left i,
  span.button_large.left i,
  span.exclusive_mini.left i,
  span.exclusive_small.left i,
  span.exclusive.left i,
  span.exclusive_large.left i,
  span.exclusive_large_disabled.left i,
  .btn.btn-default.left i,
  .btn-primary.left i {
    padding-right: 4px; }
  input.button_mini i.left,
  input.button_small i.left,
  input.button i.left,
  input.button i.left,
  button.button i.left,
  input.button_large i.left,
  input.button_mini_disabled i.left,
  input.button_small_disabled i.left,
  input.button_disabled i.left,
  input.button_large_disabled i.left,
  input.exclusive_mini i.left,
  input.exclusive_small i.left,
  input.exclusive i.left,
  input.exclusive_large i.left,
  input.exclusive_mini_disabled i.left,
  input.exclusive_small_disabled i.left,
  input.exclusive_disabled i.left,
  input.exclusive_large_disabled i.left,
  a.button_mini i.left,
  a.button_small i.left,
  a.button i.left,
  a.button_large i.left,
  a.exclusive_mini i.left,
  a.exclusive_small i.left,
  a.exclusive i.left,
  a.exclusive_large i.left,
  span.button_mini i.left,
  span.button_small i.left,
  span.button i.left,
  span.button_large i.left,
  span.exclusive_mini i.left,
  span.exclusive_small i.left,
  span.exclusive i.left,
  span.exclusive_large i.left,
  span.exclusive_large_disabled i.left,
  .btn.btn-default i.left,
  .btn-primary i.left {
    padding-right: 4px; }
  input.button_mini i.right,
  input.button_small i.right,
  input.button i.right,
  input.button i.right,
  button.button i.right,
  input.button_large i.right,
  input.button_mini_disabled i.right,
  input.button_small_disabled i.right,
  input.button_disabled i.right,
  input.button_large_disabled i.right,
  input.exclusive_mini i.right,
  input.exclusive_small i.right,
  input.exclusive i.right,
  input.exclusive_large i.right,
  input.exclusive_mini_disabled i.right,
  input.exclusive_small_disabled i.right,
  input.exclusive_disabled i.right,
  input.exclusive_large_disabled i.right,
  a.button_mini i.right,
  a.button_small i.right,
  a.button i.right,
  a.button_large i.right,
  a.exclusive_mini i.right,
  a.exclusive_small i.right,
  a.exclusive i.right,
  a.exclusive_large i.right,
  span.button_mini i.right,
  span.button_small i.right,
  span.button i.right,
  span.button_large i.right,
  span.exclusive_mini i.right,
  span.exclusive_small i.right,
  span.exclusive i.right,
  span.exclusive_large i.right,
  span.exclusive_large_disabled i.right,
  .btn.btn-default i.right,
  .btn-primary i.right {
    padding-left: 4px; }
  input.button_mini .icon-chevron-left,
  input.button_small .icon-chevron-left,
  input.button .icon-chevron-left,
  input.button .icon-chevron-left,
  button.button .icon-chevron-left,
  input.button_large .icon-chevron-left,
  input.button_mini_disabled .icon-chevron-left,
  input.button_small_disabled .icon-chevron-left,
  input.button_disabled .icon-chevron-left,
  input.button_large_disabled .icon-chevron-left,
  input.exclusive_mini .icon-chevron-left,
  input.exclusive_small .icon-chevron-left,
  input.exclusive .icon-chevron-left,
  input.exclusive_large .icon-chevron-left,
  input.exclusive_mini_disabled .icon-chevron-left,
  input.exclusive_small_disabled .icon-chevron-left,
  input.exclusive_disabled .icon-chevron-left,
  input.exclusive_large_disabled .icon-chevron-left,
  a.button_mini .icon-chevron-left,
  a.button_small .icon-chevron-left,
  a.button .icon-chevron-left,
  a.button_large .icon-chevron-left,
  a.exclusive_mini .icon-chevron-left,
  a.exclusive_small .icon-chevron-left,
  a.exclusive .icon-chevron-left,
  a.exclusive_large .icon-chevron-left,
  span.button_mini .icon-chevron-left,
  span.button_small .icon-chevron-left,
  span.button .icon-chevron-left,
  span.button_large .icon-chevron-left,
  span.exclusive_mini .icon-chevron-left,
  span.exclusive_small .icon-chevron-left,
  span.exclusive .icon-chevron-left,
  span.exclusive_large .icon-chevron-left,
  span.exclusive_large_disabled .icon-chevron-left,
  .btn.btn-default .icon-chevron-left,
  .btn-primary .icon-chevron-left {
    padding-right: 4px; }
  input.button_mini .icon-chevron-right,
  input.button_small .icon-chevron-right,
  input.button .icon-chevron-right,
  input.button .icon-chevron-right,
  button.button .icon-chevron-right,
  input.button_large .icon-chevron-right,
  input.button_mini_disabled .icon-chevron-right,
  input.button_small_disabled .icon-chevron-right,
  input.button_disabled .icon-chevron-right,
  input.button_large_disabled .icon-chevron-right,
  input.exclusive_mini .icon-chevron-right,
  input.exclusive_small .icon-chevron-right,
  input.exclusive .icon-chevron-right,
  input.exclusive_large .icon-chevron-right,
  input.exclusive_mini_disabled .icon-chevron-right,
  input.exclusive_small_disabled .icon-chevron-right,
  input.exclusive_disabled .icon-chevron-right,
  input.exclusive_large_disabled .icon-chevron-right,
  a.button_mini .icon-chevron-right,
  a.button_small .icon-chevron-right,
  a.button .icon-chevron-right,
  a.button_large .icon-chevron-right,
  a.exclusive_mini .icon-chevron-right,
  a.exclusive_small .icon-chevron-right,
  a.exclusive .icon-chevron-right,
  a.exclusive_large .icon-chevron-right,
  span.button_mini .icon-chevron-right,
  span.button_small .icon-chevron-right,
  span.button .icon-chevron-right,
  span.button_large .icon-chevron-right,
  span.exclusive_mini .icon-chevron-right,
  span.exclusive_small .icon-chevron-right,
  span.exclusive .icon-chevron-right,
  span.exclusive_large .icon-chevron-right,
  span.exclusive_large_disabled .icon-chevron-right,
  .btn.btn-default .icon-chevron-right,
  .btn-primary .icon-chevron-right {
    padding-left: 4px; }

input.button_mini:hover, input.button_small:hover {
  background: none;
  border-color: #db7100;
  color: #db7100; }

button.button:hover {
  background: none;
  border-color: #db7100;
  color: #db7100; }

input.button:hover, input.button_large:hover, input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover {
  background: none;
  border-color: #db7100;
  color: #db7100; }

#page a.button_mini:hover, #page a.button_small:hover, #page a.button:hover, #page a.button_large:hover, #page a.exclusive_mini:hover, #page a.exclusive_small:hover, #page a.exclusive:hover, #page a.exclusive_large:hover {
  background: none;
  border-color: #db7100;
  color: #db7100; }

a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
  background: none;
  border-color: #db7100;
  color: #db7100; }

#page .btn.btn-default:hover,
.btn.btn-default:hover,
.btn-primary:hover {
  background: none;
  border-color: #db7100;
  color: #db7100; }

input.button_mini:active, input.button_small:active, input.button:active, input.button_large:active, input.exclusive_mini:active, input.exclusive_small:active, input.exclusive:active {
  border-color: #db7100;
  background: none;
  color: #db7100; }

#page input.exclusive_large:active {
  border-color: #db7100;
  background: none;
  color: #db7100; }
#page a.button_mini:active, #page a.button_small:active, #page a.button:active, #page a.button_large:active, #page a.exclusive_mini:active, #page a.exclusive_small:active, #page a.exclusive:active, #page a.exclusive_large:active {
  border-color: #db7100;
  background: none;
  color: #db7100; }

button.button:active {
  border-color: #db7100;
  background: none;
  color: #db7100; }

a.button_mini:active, a.button_small:active, a.button:active, a.button_large:active, a.exclusive_mini:active, a.exclusive_small:active .exclusive:active, a.exclusive_large:active {
  border-color: #db7100;
  background: none;
  color: #db7100; }

#page .btn.btn-default:active,
.btn.btn-default:active,
.btn-primary:active {
  border-color: #db7100;
  background: none;
  color: #db7100; }

input.button_disabled, input.exclusive_disabled {
  background: rgba(0, 0, 0, 0.3); }

span.exclusive {
  background: rgba(0, 0, 0, 0.3); }

.btn.disabled {
  border-color: #787878;
  opacity: 0.5; }
  .btn.disabled:hover {
    border-color: #787878;
    opacity: 0.5; }
.btn[disabled]:hover {
  border-color: #787878;
  opacity: 0.5; }

.link-button {
  font-weight: bold; }

#page a.white_btn.button.btn,
#page button.white_btn.button.btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color: white; }
#page a.white_btn.btn:hover,
#page button.white_btn.btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white; }
#page a.white_btn.btn:active,
#page button.white_btn.btn:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: white; }

a.white_btn.button:hover,
button.white_btn.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white; }

a.white_btn.button:active,
button.white_btn.button:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: white; }

.btn-white {
  display: inline-block;
  border: 1px solid white;
  padding: 10px;
  background: none;
  color: white;
  cursor: pointer; }
  .btn-white:hover {
    background: white;
    color: #ff8400; }

/*# sourceMappingURL=buttons.css.map */
